/* Our Approach */
.hero-page,
.our-approach2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.our-approach2 {
  width: 100%;
  position: relative;
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-48);
  color: var(--Text-primary);
  font-family: var(--font-line-seed-sans);
}
.hero-page {
  align-self: stretch;
  align-items: center;
  padding: 179px 202px;
  gap: 57px;
  background-image: url('asset/our-approach/bg_approach.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 56px;
  color: var(--Egg-White);
}
.our-approach2-heading {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.rigorous-methodologies-uncomp {
  margin: 0;
}
.our-approach2-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 53px;
  font-size: var(--font-size-18);
}
.p {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.our-approach2-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-12) var(--padding-24);
  background-color: var(--Green-Lime);
  width: 100%;
  border-radius: var(--br-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 331px;
}
.button14,
.why-choose-us {
  font-size: var(--font-size-18);
}
.button14 {
  position: relative;
  line-height: 150%;
  font-family: var(--font-line-seed-sans);
  color: var(--color-darkslateblue-100);
  text-align: left;
}
.why-choose-us {
  align-self: stretch;
  background-color: var(--Background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 52px var(--padding-64);
  cursor: pointer;
}
.our-approach2-text {
  width: 530px;
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.methodology {
  align-self: stretch;
  background-color: var(--Background-color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 112px var(--padding-40);
  gap: var(--gap-80);
}
.heading20 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.our-approach2-card,
.our-approach2-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.our-approach2-row {
  align-self: stretch;
  justify-content: flex-end;
  gap: var(--gap-40);
  text-align: left;
  font-size: var(--font-size-24);
}
.our-approach2-card {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-32);
  min-width: 500px;
}
.method1-icon {
  width: 314px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.our-approach2-content {
  width: 294px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8);
}
.heading21,
.list {
  align-self: stretch;
}
.heading21 {
  position: relative;
  line-height: 140%;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20) var(--padding-16);
  gap: var(--gap-10);
  font-size: 17px;
  color: var(--color-gray-100);
}
.point-icon {
  width: 40px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.tailoring-research-approaches {
  flex: 1;
  position: relative;
  line-height: 26px;
}
.content27,
.qc {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.qc {
  background-color: var(--Background-color-primary);
  display: flex;
  justify-content: flex-start;
}
.content27 {
  text-align: left;
  font-size: 42px;
  font-family: var(--font-outfit);
}
.content27,
.detail,
.features {
  display: flex;
  justify-content: flex-start;
}
.features {
  align-self: stretch;
  background-color: var(--Background-color-primary);
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 90px 176px;
  gap: 96px;
}
.detail {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-40);
  min-width: 300px;
}
.tailor-made-high-quality {
  align-self: stretch;
  position: relative;
  line-height: 50px;
  font-weight: 500;
}
.list2,
.ol {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list2 {
  flex-direction: column;
  font-size: var(--font-size-18);
  color: var(--color-gray-100);
  font-family: var(--font-line-seed-sans);
}
.ol {
  flex-direction: row;
  padding: var(--padding-20) var(--padding-16);
  gap: var(--gap-16);
}
.qc1-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 300px;
  min-height: 332.06px;
}
.list3,
.our-approach2-detail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.our-approach2-detail {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-40);
  min-width: 300px;
}
.list3 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-10) var(--padding-16);
  gap: var(--gap-10);
  font-size: var(--font-size-18);
  color: var(--color-gray-100);
  font-family: var(--font-line-seed-sans);
}
